# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

NASAImagerySample/.idea/
NASAImagerySample/.sass-cache/
NASAImagerySample/.tmp/
NASAImagerySample/.versions/
NASAImagerySample/.gradle/
NASAImagerySample/coverage/
NASAImagerySample/dist/
NASAImagerySample/node_modules/
NASAImagerySample/tmp/
NASAImagerySample/temp/
NASAImagerySample/hooks/
NASAImagerySample/platforms/
NASAImagerySample/plugins/
NASAImagerySample/plugins/android.json
NASAImagerySample/plugins/ios.json
NASAImagerySample/www/
NASAImagerySample/$RECYCLE.BIN/
NASAImagerySample/private_keys.ts

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
