<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorite Images</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="(searchs | async)?.length > 0">
    <ion-item-sliding *ngFor="let search of searchs | async" (click)="openSearchDetails($event, search)">
      <ion-item>
        <h2>{{search.url}}</h2>
        <p>{{search.lat}}, {{search.long}}</p>
        <ion-note item-end>{{search.date}}</ion-note>
      </ion-item>
      <ion-item-options side="right|left">
        <button ion-button color="danger" (click)="deleteSearch(search)">Delete
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <h4 *ngIf="(searchs | async)?.length === 0" padding>No searchs registered.</h4>
</ion-content>
